{% extends 'tutorials/headers/header.html' %}
{% block content %}
    <style>
        .card {
            padding: 20px !important;
        }
        body {
            background: #bdbdbd;
        }
    </style>
    <div class="row">

    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col s6 offset-s2">
        </div>
        <div class="col s12 m8 offset-m2">
            <div class="card">
                {% for tut in tut %}
                <a href="{% url 'tuts' tut.kategoria.pk %}"><- wstecz</a>
                <h2 class="center blue darken-3 white-text">{{ tut.tytul }}</h2>
                <p id="tut">{{ tut.tresc|safe }}</p>
                {% endfor %}

            </div>
        </div>
    </div>



{% endblock %}