{% extends 'pybb/base.html' %}
{% load pybb_tags i18n staticfiles %}

{% block title %}{% trans "Editing the post" %}{% endblock title %}

{% block extra_head %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
{% block extra_script %}
    {{ block.super }}
    {{ form.media.js }}
    <script type="text/javascript" src="{% static 'pybb/js/jquery.formset.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l10 offset-l1">
        <h1>Edytuj post</h1>
        {% include "pybb/post_form.html" %}
    </div>
</div>
{% endblock content %}

{% block breadcrumb %}
    {% with extra_crumb="Edit post" %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}

{% endblock %}
