{% load i18n %}

{% if is_paginated %}
    <div class="div_pagination">
        <ul class="pagination">
            <li class="prev waves-effect {% if not page_obj.has_previous %}disabled{% endif %}">
                <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            {% for page in page_obj.pages %}
                {% if page %}
                    <li {% ifequal page page_obj.number %}class="disabled active"{% endifequal %}>
                       <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="disabled">
                       <a href="#">...</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="next waves-effect {% if not page_obj.has_next %}disabled{% endif %}">
                <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" >
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    </div>
{% endif %}
