{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% load staticfiles %}
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
        <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">


        <!-- Wyrównanie ikon z tekstem -->
        <style>
        .main_row i {vertical-align: middle !important;}
        .currform a {
            color:black;
        }
        </style>

    </head>

    <body>
        <div class="row main_row">
            <div class="col s1 m3 l4"></div>
            <div class="col s10 m6 l4 center">
                <i class="material-icons" style="font-size:5em;">lock</i>
                <i class="material-icons" style="font-size:5em;">arrow_forward</i>
                <i class="material-icons" style="font-size:5em;">lock_outline</i>

                <p>
                    Wpisz swoje <b>nowe</b> hasło oraz swoje <b>stare</b> hasło.
                </p>

                <form class="currform" method="post" action="" name="chamgemail" autocomplete="off">
                    {% csrf_token %}

                    <input id="newpassword1" placeholder="Nowe hasło" type="password" name="newpassword1" required/>
                    <a href="#" onclick="visibility('newpassword1',this)"><i class="material-icons right visibi">visibility_off</i></a>

                    <input id="newpassword2" placeholder="Powtórz nowe hasło" type="password" name="newpassword2" required/>
                    <a href="#" onclick="visibility('newpassword2',this)"><i class="material-icons right visibi">visibility_off</i></a>

                    <input placeholder="Stare hasło" type="password" name="oldpassword1" required />
                    <input placeholder="Powtórz stare hasło" type="password" name="oldpassword2" required />

                    <input class="waves-effect waves-teal btn blue darken-3" type="submit" value="Zmień" />

                </form>

            </div>
            <div class="col s1 m3 l4 center"></div>
        </div>

    </body>

    <script>
    $(document).ready(function(){

    });

    var visibility = function(id,this_){
        var obj = document.getElementById(id);
        if( obj.type == 'password' ) {
            obj.type = "text";
            this_.firstChild.innerHTML = 'visibility';
        } else {
            obj.type = "password";
            this_.firstChild.innerHTML = 'visibility_off';
        }
    }
    </script>
</html>
