<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Nowe Hasło</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% load staticfiles %}
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
        <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style>
            body{
                background-color: #f9f9f9;
            }
        </style>

    </head>

    <body>
        <div class="row" style="margin-top:50px;">
            <div class="col s1 m3 l2"></div>

                <div class="col s10 m6 l8">

                    <div class="row center">
                        <i class="material-icons" style="font-size:15em;">lock_open</i>
                    </div>

                    <div style="text-align:center;">

                        <h3>Uwaga! Twoje hasło zostało zresetowane.</h3>

                        <p>
                            <br />
                            Twoje nowe hasło : <span style="color:red;">{{new_password}}</span>&nbsp;uważaj aby nie skopiować spacji :)
                            <br />
                        </p>

                        <p>
                            Możesz zacząć używać tego hasła <b>albo</b> wykorzystać je do <b>jednokrotnego</b> zalogowania się na swoje konto i zmianę hasła w opcjach twojego konta.
                        </p>

                        <p>
                            Jeśli odświeżysz tę stronę nie będzie ona przedstawiała tej samej treści. Dlatego prosimy zapisz swoje nowe hasło w bezpiecznym miejscu.
                        </p>
                        <br />
                        <p>
                            <a href="../../login">Kliknij tutaj przejść na stronę logowania</a>
                        </p>

                    </div>

                </div>

            <div class="col s1 m3 l2"></div>
        </div>
    </body>
</html>
