{% block content %}
<div class="carousel-item red white-text" href="#one!">
    <h2>Tworzenie sieci</h2>
        <p class="white-text">W języku python tworzone są skrypty stron internetowych po stronie serwera!</p>
</div>
<div class="carousel-item amber white-text" href="#two!">
    <h2>Język wysokiego poziomu</h2>
    <p class="white-text">Python jest językiem wysokiego poziomu, dzięki czemu jego kod jest czytelny nawet dla mniej wprawionych oczu.</p>
</div>
<div class="carousel-item green white-text" href="#three!">
    <h2>Ogromna społeczność</h2>
    <p class="white-text">Duża ilość programistów chętnych do pomocy przy nauce :)</p>
</div>
<div class="carousel-item blue white-text" href="#four!">
    <h2>Moduły i PIP</h2>
    <p class="white-text">Python oferuje oferuje mnóstwo wbudowanych narzędzi takich jak PIP ułatwiających prace programistom.</p>
</div>
{% endblock %}